.signup-btn {
  cursor: pointer;
  background-color: #1FB655;
  border: 1px solid #1FB655;
  color: black;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  margin-top: 10px;
  transition-duration: 0.2s;
}

.signup-btn:hover {
  background-color: #21dc62;
  border: 1px solid #21dc62;
  transform: scale(1.03);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 350px;
  min-width: 400px;
}
input {
  margin: 10px;
}

#signup-modal {
  border: solid;
  display: flex;
  justify-content: space-around;
  margin: 0;
  background: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
}

#signup-modal:hover {
  color: #1FB655;
}