.add-btn {
    margin: 10px;
    background-color: #1fb655;
    border: 1px solid #1fb655;
    cursor: pointer;
    color: black;
    padding: 10px;
    border-radius: 3px;
    width: 300px;
    transition-duration: 0.2s;
  }