div.page-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
}
li.my-notes-link {
  gap: 10px;
  position: absolute;
  top: 50%;
  /* background-color: black; */
  height: 100px;
  width: 100px;
}
.fa-solid.fa-book.fa-2x {
  padding: 5px; 
  margin-bottom: 5px;
}
.fa-solid.fa-book.fa-2x:hover {
  background-color: #21dc62;
  border: 1px solid #21dc62;
  transform: scale(1.03);
}
.fa-solid.fa-book-open.fa-2x {
  padding: 5px;
  margin-bottom: 5px;
}
.fa-solid.fa-book-open.fa-2x:hover {
  background-color: #21dc62;
  border: 1px solid #21dc62;
  transform: scale(1.03);
}
.links {
  /* margin-left: 30%; */
  align-items: center;
  font-size: 20px;
  display: relative;
}
