/* footer */
footer {
    z-index: 5;
    opacity: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;;
    height: 5rem;
    flex-direction: column;
    cursor: default;
    padding: 5px 0;
  }
  
  /* footer.logged-in-footer {
    height: 3rem;
  } */
  
  .foot-stuff {
    display: flex;
    padding: 10px 24px;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    border-bottom: 2px solid #49514932;
    min-width: 550px;
    font-size: 13px;
  }
  
  .foot-stuff li {
    color: var(--soft-white);
    font-size: 12px;
  }
  
  ul.footer-about-me {
    display: flex;
    padding: 10px;
    padding-bottom: 0;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    font-size: 12px; 
    color: rgb(135, 119, 153); 
  }
  
  .footer-about-me li {
    justify-content: space-between;
    /* padding: 10px; */
  }
  
  .fa-github {
    font-size: 18px;
    transition-duration: 0.2s;
  }
  
  .fa-github:hover,
  .fa-linkedin:hover {
    color: #1FB655;
    transform: scale(1.4);
  }
  
  .footer-text {
    transition-duration: 0.2s;
  }
  
  .footer-text:hover {
    color: #1FB655;
    transform: scale(1.1);
  }