.upload-form {
    border: none;
    display: flex;
    justify-content: center;
    margin: 0;
    color: black;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    gap: 10px;
    margin-bottom: 10px;
}

.fa-trash-can {
    color: black;
    border: none;
    height: 30px;
    margin: 12px;
    border-radius: 2px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.fa-trash-can:hover {
    color: #1fb655;
    transform: scale(1.05);
}

div.notebook-delete-form {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    color: black;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
    height: fit-content;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #efd76c;
}
h4.warning-message {
    background-color: #fdefb3;
    padding: 10px;
    border-radius: 5px;
    color: red;
}
button.yes-button {
    /* border: 1px solid;  */
    border-radius: 5px;
    background-color: #fdefb3;
    padding: 10px;
    margin-top: 10px;
    color: red;
    font-weight: bold;
}
.yes-button:hover {
    color: white; 
    transform: scale(1.05);
    background-color: #FFCC00;
}
div#modal-content {
    background-color: #efd76c;
}
div.note-delete-form {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    color: black;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #efd76c;
}
#delete-notebook-modal {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
