.notebook-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    position: relative;
    top: 80px;
    bottom: 20%; 
    left: 10%; 
    height: fit-content;
    width: 100%;
    margin-top: 30px; 
    margin-bottom: 30px;
}

.a-solid.fa-notebook {
  size: 100px;
}
#add-icon {
  margin-top: 40px;
  background-color: #1fb655;
  border: none;
  cursor: pointer;
  color:  #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  width: auto;
  transition-duration: 0.2s;
  font-weight: bold;
}

#add-icon:hover {
  background-color: #21dc62;
  border: 1px solid #21dc62;
  color: black; 
}
.fa-solid.fa-pen-to-square {
    /* background-color: #076c2b; */
    color: black;
    border: none;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
}
.fa-solid.fa-pen-to-square:hover {
  /* background-color: #076c2b; */
  background-color: #21dc62;
  border: 1px solid #21dc62;
}
#delete-link {
  border: none;
}
#update-icon{
  border: none; 
}
.updated-time {
  display: relative;
  margin-left: 1px;
  margin-top: 10px;
}
h2.user-name {
  margin-left: 4px;
  margin-bottom: 20px;
}
h3.notebooks-count {
  margin: 20px 10px; 
  font-size: 20px;
  margin-left: 0; 
}
.notebook-detail {
  font-size: 15px;
  border-bottom: #1fb655 solid;
  display: flex; 
  justify-content: flex-start;
  width: 80%;
}

.create-notebook-form{
  border: none;
  display: flex;
  justify-content: center;
  margin: 0;
  color: black;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  gap: 10px;
  margin-bottom: 10px;
  background-color: #efd76c;
}

button.create-notebook-submit {
  margin: 10px;
  background-color: #1fb655;
  border: none;
  cursor: pointer;
  color: black;
  padding: 10px;
  border-radius: 5px;
  width: auto;
  transition-duration: 0.2s;
  font-weight: bold;
}
button.create-notebook-submit:hover {
  margin: 10px;
  background-color: #21dc62;
  border: 1px solid #21dc62;
}

.update-notebook-form{
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 0;
  color: black;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  gap: 10px;
  margin-bottom: 10px;
  background-color: #efd76c;
}
button.update-notebook-submit {
  margin: 10px;
  background-color: #1fb655;
  border: none;
  cursor: pointer;
  color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  width: auto;
  transition-duration: 0.2s;
  font-weight: bold;
}

button.update-notebook-submit:hover {
  margin: 10px;
  background-color: #21dc62;
  border: 1px solid #21dc62;
  color: black;
}
a.notebook-link {
  /* font-weight: bold; */
  font-size: 20px;
  /* color: whitesmoke;  */
}
p.updated-time {
  font-size: 10px;
}
h3.notebooks-count {
  border: 2px solid #1fb655;
  border-radius: 5px;
  padding: 10px;
  width: 80%; 
  margin-bottom: 20px;
}
/* a.notebook-link:hover {
  background-color: aqua;
  color: white; 
  border: none;
} */
h2.update-notebook-name {
  background-color: #FDEFB3;
  border-radius: 5px;
  padding: 10px;
}
.notebook-update-form {
  background-color: #FDEFB3;
  border-radius: 5px;
  margin: 10px; 
}
/* .update-notebook-input {
  background-color: #FDEFB3;
} */
.update-notebook-label {
  background-color: #FDEFB3
}
h2.create-notebook-name {
  background-color: #FDEFB3;
  border-radius: 5px;
  padding: 10px;
}
.notebook-create-form {
  background-color: #FDEFB3;
  border-radius: 5px;
  padding: 10px;
}
/* input.create-notebook-input {
  background-color: #FDEFB3;
  border-radius: 5px;
  padding: 10px;
} */
label.create-notebook-label {
  background-color: #FDEFB3;
  border-radius: 5px;
  padding: 10px;
}