body {
  margin: 0;
  width: 100%;
  background-color: rgb(218, 218, 218);
  /* background-color: var(--chocolate); */
}
.splash-page-container {
/* background-color: black; */
height: fit-content;
position: absolute; 
top: 10%;
left: 20%; 
justify-content: center;
margin-top: 100px;
}
#splash-page-header {
  min-width: 465px;
}

#splash-page-nav-bar {
  display: grid;
  grid-template-columns: 150px 8fr auto;
  width: 85%;
  padding: 15px 0;
  text-align: center;
}

.splash-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  position: relative;
  text-align: center;
  z-index: 10;
  color: var(--soft-white);
  opacity: 1;
  min-width: 675px;
}

.body-text h1 {
  z-index: 10;
  opacity: 1;
  font-size: 56px;
  padding: 0;
  margin: 24.12px 0px 5px;
  font-weight: 600;
}

.body-text h3 {
  margin: 26px 0px 50px;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  width: 70%;
}

.body-text h4 {
  width: 60%;
  margin: 0px 0px 40px 0px;
  font-weight: 400;
  font-style: italic;
}
.signup-modal {
  text-align: center;
  justify-content: flex-end;
}
