header {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: var(--chocolate-fade);
  position: fixed;
  width: 100%;
  z-index: 5000;
  max-height: 67px;
}

.session-links {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.active-link {
  border-bottom: 1px solid var(--soft-black);
}

#left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  width: fit-content;
}
.logo{
  display: flex;
  justify-content: start;
}

.logo-text {
  font-family: Courier;
  font-weight: bold;
  font-size: 40px;
  padding: 5px;
  color: black;
}
.logo-image {
  width: 50px;
  padding-top: 10px;
}

#right-container {
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

#right-container > .session-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#login-modal > button {
    border: none;
    display: inline-block;
    margin: 0;
    background: none;
    background-color: white;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding: 5px 20px;
    border-radius: 3px;
    margin-left: 20px;
}

/* .logout {
  border: none;
  background: none;
  color: black;
  font-size: 25px;
  transition-duration: 0.3s;
}

.logout:hover {
  transform: scale(1.5);
  color: white;
  cursor: pointer;
} */

@media (max-width: 1350px) {
  .logo {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80vw;
  }

  #left-container {
    min-width: 101px;
  }
}